html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}